ALTER TABLE bookmarks ADD COLUMN IF NOT EXISTS book_id uuid REFERENCES books(id) ON DELETE CASCADE;
ALTER TABLE bookmarks ALTER COLUMN article_id DROP NOT NULL;
ALTER TABLE bookmarks DROP CONSTRAINT IF EXISTS bookmarks_user_id_article_id_key;
ALTER TABLE bookmarks ADD CONSTRAINT bookmarks_user_item_unique UNIQUE (user_id, article_id, book_id);
